.menu {
  display: none;
}

@media (max-width: 900px) {
  .menu {
    display: inline-block;
    margin: 0;
    width: 365px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    list-style-type: none;
    padding: 0 0 0 10px;
    border-top: 1px solid gray;

    &__item {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__link {
      text-decoration: none;
      color: black;
    }
  }
}

@media (max-width: 600px) {
  .menu {
    width: 260px;
  }
}