.users {
  &__container {
    margin-top: 125px;
    background-color: #f9f9f3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-top: 153px;
    font-size: 50px;
    line-height: 54px;
    text-align: center;
  }

  &__details {
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 70px;

    margin-top: 63px;
  }

  &__button-container {
    margin-top: 70px;
  }

  &__button {
    margin-bottom: 160px;
    margin-left: 50%;
    transform: translateX(-50%);

    width: 211px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    background-color: #ef5b4c;
    padding: 5px;

    border-color: transparent;
    border-radius: 3px;
    outline: none;

    cursor: pointer;
    transition: background-color 300ms;

    &:hover {
      background-color: #b42a1a;
    }
  }

  &__error {
    padding: 0;
    margin: 0;
    text-align: center;
    color: red;
  }
}
