.user-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 260px;

  &__name,
  &__position,
  &__email,
  &__phone {
    text-align: center;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  &__name {
    margin-top: 15px;
    font-size: 25px;
    line-height: 30px;
  }

  &__position,
  &__email,
  &__phone {
    line-height: 25px;
  }

  &__position {
    margin-top: 3px;
  }

  &__photo {
    align-self: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
