.header {
  &__img {
    height: 600px;
    background: url(../../images/banner-photo.jpg) no-repeat;
    background-size: cover;
  }

  &__heading {
    padding-top: 108px;
    padding-left: 30px;
    color: white;
    width: 520px;
    font-size: 25px;
    line-height: 54px;
    text-transform: uppercase;
  }

  &__text {
    color: white;
    width: 530px;
    padding-left: 30px;
    padding-top: 10px;
    line-height: 24px;
  }

  &__text-mobile {
    display: none;
  }

  &__button {
    width: 211px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    background-color: #ef5b4c;
    margin-top: 18px;
    margin-left: 29px;
    padding: 5px;

    border-color: transparent;
    border-radius: 3px;
    outline: none;

    cursor: pointer;
    transition: background-color 300ms;

    &:hover {
      background-color: #b42a1a;
    }
  }
}

.nav {
  background-color: white;
  z-index: 10;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.list {
  padding: 0;
  display: flex;

  list-style-type: none;

  &__link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    margin-right: 29px;

    transition: color 300ms;

    &:hover {
      color: #ef5b4c;
    }

    &:focus {
      color: #007bff;
    }
  }
}

@media (max-width: 900px) {
  .header {
    &__img {
      height: 500px;
    }

    &__heading {
      padding-top: 60px;
      width: 430px;
      font-size: 20px;
      line-height: 44px;
    }

    &__text {
      width: 440px;
    }
  }

  .nav {
    height: 60px;

    &__container {
      display: none;
    }
  }

  .list {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;

    &__img {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 400px;
    }

    &__heading {
      padding-top: 70px;
      width: 300px;
      font-size: 14px;
      line-height: 38px;
      text-align: center;
    }

    &__text {
      display: none;
    }

    &__text-mobile {
      display: block;
      color: white;
      width: 320px;
      text-align: center;
    }
  }
}

