.burger {
  display: none;
}

@media (max-width: 900px) {
  .burger {
    display: flex;
    align-self: center;
    height: 20px;

    margin-right: 30px;
    background-color: white;

    outline: none;
    border: none;
  }
}
