.app {
  max-width: 1170px;
  margin: 0 auto;

  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}